.boton{
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    padding: 24px 32px;
    border: none;
    color: #fff;
    margin:  32px 0;
    cursor: pointer;
}

.boton:hover{
    color: rgb(190, 187, 187);
}