/* .formulario{
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;
    /* display: flex;
    flex-direction: row; 
}

.formulario label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;    
    margin-top: 8px;
    margin-bottom: 8px;
}

.formulario input{
    width: 50%;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border:none;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 16px;
    box-sizing: border-box;
} */
/* .formulario{
    display: flex;
    flex-direction: row; 
} */


.form-campos{
    display: flex;
    flex-direction: column;
}

.form-campos label{
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-campos input{
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border:none;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 16px;
    box-sizing: border-box;
}